html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

.simple-menu {
    padding-top: 10px;
}

.menu-logo {
    height: 65px;
    width: auto;
    position: fixed;
    left: 10px;
}

.menu-link {
    text-decoration: none;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-collapse-toggle {
    position: absolute;
    top: 20px;
    right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 33px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    border-radius: 3px;
    transform-origin: 4px 0px;
}

.menu-collapse {
    position: fixed;
    overflow: scroll;
    right: 0;
}

.menu-collapse-pages {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.menu-collapse-page {
    list-style-type: none;
    display: block;
    padding: 20px;

    align-self: flex-end;
    width: 100%;

    border-bottom-width: 0.0625rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 217, 210);
}


@media (min-width: 700px) {
    .menu-pages {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .menu-page {
        padding: 10px;
        list-style-type: none;
        flex-basis: auto;
    }

    .menu-collapse {
        visibility: collapse;
    }

    .menu-collapse-page {
        visibility: collapse;
    }

    .menu-collapse-toggle {
        visibility: collapse;
    }

    .menu-logo {
        opacity: 1;;
    }
}

@media (max-width: 699px) {
    .menu-page {
        visibility: collapse;
    }

    .menu-collapse {
        height: 100vh;
        width: 75vw;
    }

    .menu-collapse-toggle {
        visibility: visible;
    }
}

@media (max-width: 550px) {
    .menu-collapse {
        width: 100vw;
    }

    .menu-collapse-toggle {
        visibility: visible;
    }

}